/* @font-face {
    font-family: "helvetica";
    src: local('../fonts/helvetica_bold.otf');
    font-weight: bold
} */

/* 
@font-face {
    font-family: "helvetica";
    src: local('../fonts/helvetica_bold.otf') format("opentype");
    font-weight: bold
} */

/* @font-face {
    font-family: "CormorantGaramond";
    src: url('../fonts/CormorantGaramond.otf');
    font-weight: light
} */

/* .cormorant-garamond-light {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
}

.cormorant-garamond-regular {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: normal;
}

.cormorant-garamond-medium {
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: normal;
}

.cormorant-garamond-semibold {
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-style: normal;
}

.cormorant-garamond-bold {
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: normal;
}

.cormorant-garamond-light-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: italic;
}

.cormorant-garamond-regular-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: italic;
}

.cormorant-garamond-medium-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: italic;
}

.cormorant-garamond-semibold-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-style: italic;
}

.cormorant-garamond-bold-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: italic;
} */


/* .lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
} */







/* @font-face {
    font-family: "helvetica";
    src: local('../fonts/helvetica_bold.otf');
    font-weight: bold
} */

/* @font-face {
    font-family: "helvetica";
    src: local('../fonts/helvetica_bold.otf');
    font-weight: bold
}
 */

h1,
h2,
h3,
h4,h5 {
    color: #BC9B6A;
    font-family: 'Cormorant Garamond';
}


body {
    font-family: 'helvetica';
    /* background-image:url('/img/background.png'); */
    height: 100%;
}

:root {
    --colorBody: #031F47
}

.header{
    width: 100vw;
    background-color: var(--colorBody);

}

.footer{
    width: 100vw;
    /* background-color: var(--colorBody); */

}
/* main{
    flex-grow: 1;
} */

.container {
    margin: 0 auto;
    max-width: 1720px;
    /* background-color: #031F47 ; */

    /* background-color: red; */
}


/* <<<<<<< HEAD */
/* .header {
    width: 1720px;
} */


/* .header__logo{
=======
.header__logo {
>>>>>>> c5a5fcdad075fa9ef146d17abcfe8930f8595bbd */
    /* background-color: var(--colorBody); */
/* } */