.burger-menu{
    display: none;
}

@keyframes on{
    from{
        margin-left: 100%;
        
    }
    to{
        margin-left: 0%;
        height: 100%;
    }
}
@keyframes of{
    from{
        margin-left: 0%;
    }
    to{
        margin-left: 100%;
        height: 100%;
    }
}
.burger-inactive{
    animation-duration: 1s;
    animation-name: of;
    display: none;
}

.burger-active{
    font-family: 'Cormorant Garamond';
    font-weight: 300;
    font-size: 20px;
    color: #BC9B6A;
    display: block;
    height:100%;
    background-color: #031E47;
    position: absolute;
    z-index: 2;
    animation-duration: 1s;
    animation-name: on;
}

.footer-active {
    border-top: 3px solid #BC9B6A;
    margin-top: 0;
}
@media screen and (max-width: 430px) {
    .main{
        position: relative;
    }
    
    .burger-nav{
        display: flex;
        flex-direction: column;
    }
    .burger_item{
        /* font-family: ''; */
        display: flex;
        width: 100vw;
        height: 7.741vh;
        border-bottom:  1px solid #FFFFFF;
        justify-content: center;
        align-items: center;
        color: #ffff;
    }
    .burger_text{
        vertical-align: middle;
    }
}