.header>.container{
    display: flex;
 
    background-color: var(--colorBody);
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    /* text-decoration: none; */

}


.header__logo {
    color: #BC9B6A;
    justify-content: flex-start;
    /* flex: 1; */
    gap: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-right: 1em; */
}
.header__logo>svg {
    padding: 10px;
}
.header__logo-phone {
    color: #BC9B6A;
    text-align: center;
    padding-left: 54px;
    font-size: 1.2em;
}
 .header__form{
    /* width: 50%; */
    /* padding-right: 5em ; */
    margin-left: 3em;
    /* margin: 0 auto; */
    /* position: absolute; */
    /* align-self: center; */
    /* display: flex; */
    /* align-items:center */
   } 
.header__input{
    width: 35em;
    border-radius: 50px;
    height: 25px;
    padding-left: 40px;
    background: no-repeat;
    background-color: #ffff;

    background-image: url('../../icons/lupa.svg');
    background-size:20px;
    background-position:5px;
    outline: none;
}
.header__nav{
    align-self: flex-end;
    padding-right: 1.5em;

}

/* artem fedodorov blows up boom baz baz */
.header__nav>ul {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items:center;
}
/* .header__nav>ul>li {
    display: flex;
} */
.header__list-item {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    /* padding-top:30px */

}
.header__list-item svg {
   height: 65px;
    /* padding-top:30px */

}
.header__list-text {
    color:#BC9B6A;
    display: flex;
    justify-content: center;
}

.wrapper{
    display: none;
}
/* 
*{
    background-color: red;
} */

@media screen and (max-width: 430px){
    
.header__logo {
    gap: 37px;
}
.header__logo-phone {
    /* color: #BC9B6A;
    text-align: center;
    padding-left: 0px;
    font-size: 1.2em; */
    display: none;
}
.header__logo>svg {
    padding: 0px;
    width: 44px;
    height: 44px;
}
.header > .container{
    margin: 0 auto;
    width: 80%;
    gap: 2vw;
    width: 100%;
}

.header__form{
    /* width: 50%; */
    /* padding-right: 5em ; */
    margin-left: 0px;
    /* margin: 0 auto; */
    /* position: absolute; */
    /* align-self: center; */
    /* display: flex; */
    /* align-items:center */
   } 

.header__input{
    width: 223px;
    border-radius: 50px;
    height: 25px;
    padding-left: 0px;
    background: no-repeat;
    background-color: #ffff;

    background-image: url('../../img/lupa.svg');
    background-size:20px;
    background-position:5px;
    outline: none;
}

.header__nav{
    display: none;
}
.wrapper{
    display: flex;
    width: 12.471vw;
    height: 12.471vw;
    justify-content: center;
    align-items: center;
}
.goods__content-info{
    margin-left: 10px;
}
.wrapper svg {
    width: 9.412vw;
    height: 9.412vw;
}

}
  
