.hero-flex {
/* <<<<<<< HEAD */
    width: 1720px;
/* ======= */
    width: 107rem;
/* >>>>>>> c5a5fcdad075fa9ef146d17abcfe8930f8595bbd */
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__slider {
    display: flex;
    align-items: center;
}

.arrow__right{
    padding-left: 47px;
}

.arrow__left{
    padding-right: 47px;
}