.modal-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4); /* Полупрозрачный черный фон */
    backdrop-filter: blur(10px); /* Размытие фона */
    display: none;
    /* justify-content: center; */
    align-items: start;
    z-index: 1000; /* Модалка поверх всего контента */


}

.modal-active{
    position: fixed;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* width: 100vw; */
        /* left: 0; */
        /* left: 860px;
        top: 0; */

}


.modal-text {
    align-self: center;
    text-align: left; /* Выравнивание по левому краю */
    margin: 0 auto;
    padding: 20px; /* Добавляем отступы внутри контейнера */
    line-height: 1.5; /* Увеличиваем межстрочный интервал для удобства чтения */
}


.modal-active>.box{
    width: 350px ;
    height: 300px ;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 350px ;
    height: 300px ;
    background-color: #ffff;
    border: 1px  rgba(33, 32, 32, 1) solid;
    border-radius: 30px;
    font-family: 'Helvetica';

}

.modal-text, .modal-buttons {
    padding-left: 1em;
}

.modal-buttons{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* align-self: center; */
}

.btn{
    border-radius: 30px;
    width: 280px;
    height: 30px;
    font-family: 'Helvetica';
    font-size: 1em;
}
.btn-login {
    background-color: #BC9B6A;
}