.goods__item{
    /* background-color: red; */
    width: 855px;
    height: 237px;
    display: flex;
    background-color: #031E47;

    /* justify-content: ; */
}
.good__img{
    width: 411px;
    height: 237px;
}

.good-container{
    color: #FFFFFF ;
    width: 444px;
    background-color: #031E47;
    /* margin-top: 2em; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* flex-direction: column; */
    /* align-items: flex-start; */
    gap: 30px;
    /* height: ; */
}
.goods__content-info{
    color: #FFFFFF ;
    width: 444px;
    /* background-color: #031E47; */
    /* margin-top: 2em; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    flex-direction: column;
    align-items: center;
    gap: 30px;
    /* height: ; */
}
.goods__content-info>div{
    margin: 0;
    /* padding-left: 2em;
    padding-right: 2em; */

    display: flex;
    width: 400px;
    justify-content: space-between;
    /* height: ; */
}
.goods__content-title{
    color: #FFFFFF;
    font-family: 'helvetica';
    font-weight: 400;
    margin-top: 2em;
    margin-right: 14.5em;
    /* padding-left: 2em; */
    /* margin: ; */
}

.goods__content-info-item{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.goods__item-buy>span {
    font-weight: 600;
    font-style: bold;
    font-size: 1.75em;
    /* color: red; */
}


/* сетка */

.goods__content{
    display: grid;
    grid-template-columns: repeat(2, 855px);
    grid-template-rows:repeat(2, 237px);
    grid-column-gap: 15px;
    grid-row-gap: 40px 


}